Net"led_n<0>"loc="P132"

Net"led_n<0>"loc="P131"

Net"led_n<0>"loc="P130"

Net"led_n<0>"loc="P128"

Net"led_p<0>"loc="P126"

Net"led_p<0>"loc="P133"

Net"led_p<0>"loc="P135"

Net"led_p<0>"loc="P137"

Net"inp<0>"loc="P101"

Net"inp<1>"loc="P100"

Net"Q"loc="P97"